.mod_TeamC,
.modtextglob {
  color: black;
  text-align: left;
}
.modSecondText {
  color: #165207;
  text-align: left;
}
.TeamC_icon_bx {
  margin-top: 10px;
  margin-right: 10px;
  color: #165207;
}

.TeamC_mod_flex {
  color: #165207;
}

.TeamC_mod_flex:hover {
  color: #5c974e;
}

/* Adjusted color for buttons on hover */
.TeamC_mod_drop:hover .Teamc_mute {
  color: #5c974e;
}

/* Adjusted color for textarea focus */
.TeamC_formCon:focus {
  border-color: #165207;
  box-shadow: 0 0 0 0.25rem rgba(22, 82, 7, 0.25);
}

.TeamC_prime {
  background-color: #165207;
  border-color: #165207;
}

.TeamC_prime:hover {
  background-color: #5c974e;
  border-color: #5c974e;
}

/* Center-aligned container */
.TeamC_cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin: 20px;
}

/* Card style */
.TeamC_card {
  width: 100%;
  max-width: 600px; /* Adjust the maximum width as needed */
  background-color: #f3f8f2;
}

.TeamC_cardBod {
  padding: 20px;
}

/* 3-dots button style */
.three-dots {
  cursor: pointer;
  padding-top: 25px;
  padding-right: 80px;
}

/* Like/Dislike/Reply button style */
.like-button,
.dislike-button,
.reply-button {
  cursor: pointer;
  color: #165207;
}

.like-button:hover,
.dislike-button:hover,
.reply-button:hover {
  color: #5c974e;
}

/* Reply textarea style */
#TeamCcommentContainer {
  display: none;
}

/* Container for each reply */
.reply-container {
  background-color: #c3e6cb;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

/* Like/Dislike/Reply button style for replies */
.like-button,
.dislike-button,
.reply-button {
  cursor: pointer;
  color: #165207;
  margin-right: 15px; /* Adjust spacing between buttons */
}

.like-button:hover,
.dislike-button:hover,
.reply-button:hover {
  color: #5c974e;
}
